<html ng-app="IMDB">
	<head>
		<meta charset="utf-8">
		<title>IMDB</title>
		<script src="js/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/interface.js"></script>
		<script src="js/controller/calendarioController.js"></script>
		<link rel="stylesheet" href="style/style.css">
		
		<script type="text/javascript">
			
		</script>
	</head>
	<body ng-controller="calendarioCtrl">
		<div id="wrapper">
			<div class="backHome" onclick="window.location='index.html'"><img class="logo" style="cursor:pointer" alt="" src="images/football.png"></div>
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading">
				<select ng-model="giornataSelected" ng-change="visualizzaGiornata()" ng-options="cal.idGiornata as cal.giornata for cal in calendario | unique:'idGiornata'"></select>
				<table class="container" id="calendarioTable" data-ng-hide="!infoGiornata">
					<tbody>
					    <tr ng-repeat="partita in infoGiornata">
					      <td>{{partita.totaleCasa}}</td>		
					      <td>{{partita.squadraCasa}}</td>
					      <td>{{partita.golCasa}} - {{partita.golFuori}}</td>
   					      <td>{{partita.squadraFuori}}</td>
					      <td>{{partita.totaleFuori}}</td>		
					    </tr>
				    </tbody>
				</table>
			</div>	
		</div>
	</body>
</html>