<html ng-app="IMDB">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" viewport="">
	<title>IMDB</title>
	<script src="js/angular.min.js"></script>
	<script	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
	<script src="js/jquery-ui.js"></script>
	<link rel="stylesheet" href="style/jquery-ui.structure.css">
	<link rel="stylesheet" href="style/jquery-ui.theme.css">
	<script src="js/interface.js"></script>
	<script src="js/imdb.js"></script>
	<script src="js/controller/calendarioController.js"></script>		
	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="style/style_mobile.css">
	<link rel="stylesheet" href="style/style_tablet.css">	
</head>
<body ng-controller="calendarioCtrl" ng-init="initCompetizione()">
	<div id="wrapper" ng-swipe-left="swipeGiornata('piu')" ng-swipe-right="swipeGiornata('meno')">
		<div class="imdb-results__loading" data-ng-show="loading"></div>
		<div data-ng-hide="loading">
			<div class="menuContainer">
				<img id="{{comp.competizione}}" class="logo menuItem"
					ng-class="{selected : $index==0}"
					ng-repeat="comp in calendario | unique:'competizione'"
					ng-src="{{comp.logoCompetizione}}"
					ng-click="caricaCompetizione(comp.competizione)"> <img
					class="logo backHome" onclick="window.location='index.html'" alt=""
					src="images/football.png">
			</div>
			<div id="elencoGiornate">
				<ul>
					<li ng-repeat="cal in calendarioComp | unique:'idGiornata'" id="giornata-{{cal.idGiornata}}"
						ng-click="visualizzaGiornata(cal.idGiornata)">{{cal.turno || cal.giornata}}</li>
				</ul>
				<select class="selectMobile" ng-model="giorSelected" ng-options="cal.idGiornata as cal.giornata for cal in calendarioComp | unique:'idGiornata'" ng-change="visualizzaGiornata(giorSelected)">
				</select>
				<div>
					<table class="container" id="calendarioTable"
						data-ng-hide="!infoGiornata">
						<tbody>
							<tr ng-repeat="partita in infoGiornata" id="{{partita.idPartita}}" ng-click="caricaDettaglio(partita.idPartita, partita.giornata, partita.giocata, partita.idSquadraCasa, partita.idSquadraFuori, $event)">
								<td style="text-align: center"><img class="logo"
									ng-src="{{partita.logoCasa}}" /></td>
								<td>{{partita.squadraCasa}}</td>
								<td>{{partita.golCasa}} - {{partita.golFuori}}</td>
								<td>{{partita.squadraFuori}}</td>
								<td style="text-align: center"><img class="logo"
									ng-src="{{partita.logoFuori}}" /></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="riepilogoContainer imdb-no-mobile" style="display:none">
					<img alt="" src="images/close.png" ng-click="chiudiDettaglio()" class="closeButton">
					<table class="riepilogoTableContainer" id="{{infoPart.idPartita}}-{{infoPart.giornata}}">
						<tbody>
							<tr>
								<td style="vertical-align: top;" ng-show="squadraCasa.length">
									<table class="panchinaCasa panchina" >
										<tr>
											<th colspan="3">
												<img ng-src="images/panchina.png" class="logo"/>
											</th>
										</tr>
										<tr ng-repeat="riservaCasa in squadraCasa" ng-if="riservaCasa.titolare != '0' && riservaCasa.titolare != '-1'">
											<td>{{getAbbreviazioneRuolo(riservaCasa.ruoloGiocatore)}}</td>
											<td>{{riservaCasa.nomeAbbreviato}}</td>
											<td>{{riservaCasa.votoTotale}}</td>
										</tr>
									</table>
								</td>
								<td colspan="2" ng-hide="squadraCasa.length" class="nonConsegnata"> 
									Squadra non consegnata
								</td>
								<td style="border-radius: 35px; background: white;" ng-show="squadraCasa.length">
									<table class="titolariCasa titolari">
										<tr ng-repeat="titolareCasa in squadraCasa" ng-if="titolareCasa.titolare == '0'">
											<td class="invform-{{getDescrizioneRuolo(titolareCasa.ruoloGiocatore).toLowerCase()}}">{{getAbbreviazioneRuolo(titolareCasa.ruoloGiocatore)}}</td>
											<td>{{titolareCasa.nomeAbbreviato}}</td>
											<td class="center">{{titolareCasa.voto}}</td>
											<td class="center" ng-class="{'bad' : titolareCasa.bonusMalus < 0, 'good' : titolareCasa.bonusMalus > 0}">{{titolareCasa.bonusMalus}}</td>
											<td class="center" ng-class="{'bad' : titolareCasa.votoTotale < 6, 'good' : !titolareCasa.votoTotale < 6}">{{titolareCasa.votoTotale}}</td>
										</tr>
									</table>
								</td>
								<td></td>
								<td style="border-radius:35px; background: white;" ng-show="squadraFuori.length">
									<table class="titolariFuori titolari">
										<tr ng-repeat="titolareFuori in squadraFuori" ng-if="titolareFuori.titolare == '0'">
											<td class="invform-{{getDescrizioneRuolo(titolareFuori.ruoloGiocatore).toLowerCase()}}">{{getAbbreviazioneRuolo(titolareFuori.ruoloGiocatore)}}</td>
											<td>{{titolareFuori.nomeAbbreviato}}</td>
											<td class="center">{{titolareFuori.voto}}</td>
											<td class="center" ng-class="{'bad' : titolareFuori.bonusMalus < 0, 'good' : titolareFuori.bonusMalus > 0}">{{titolareFuori.bonusMalus}}</td>
											<td class="center" ng-class="{'bad' : titolareFuori.votoTotale < 6, 'good' : !titolareFuori.votoTotale < 6}">{{titolareFuori.votoTotale}}</td>
										</tr>
									</table>
								</td>
								<td colspan="2" ng-hide="squadraFuori.length" class="nonConsegnata"> 
									Squadra non consegnata
								</td>
								<td style="vertical-align: top;" ng-show="squadraFuori.length">
									<table class="panchinaFuori panchina">
										<tr>
											<th colspan="3">
												<img ng-src="images/panchina.png" class="logo"/>
											</th>
										</tr>
										<tr ng-repeat="riservaFuori in squadraFuori" ng-if="riservaFuori.titolare != '0' && riservaFuori.titolare != '-1'">
											<td>{{getAbbreviazioneRuolo(riservaFuori.ruoloGiocatore)}}</td>
											<td>{{riservaFuori.nomeAbbreviato}}</td>
											<td>{{riservaFuori.votoTotale}}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td style="background: white; border-radius: 35px;" ng-show="squadraCasa.length && infoPartita.totaleCasa > 0">
									<table class="riepilogoCasa riepilogo" >
										<tr>
						    				<td></td>
						    				<td class="center">Parziale Squadra</td>
						    				<td>{{infoPartita.puntiCasa}}</td>
						    			</tr>
						    			<tr>
						    				<td></td>
						    				<td class="center">Modificatore dif</td>
						    				<td>{{infoPartita.modCasa}}</td>
						    			</tr>
						    			<tr>
						    				<td></td>
						    				<td class="center">Totale Squadra</td>
						    				<td style="font-size: large">{{infoPartita.totaleCasa}}</td>
						    			</tr>
									</table>	
								</td>
								<td ng-hide="squadraCasa.length"></td>
								<td></td>
						    	<td style="background: white; border-radius: 35px;" ng-show="squadraFuori.length && infoPartita.totaleFuori > 0">
						    		<table class="riepilogoFuori riepilogo">
										<tr>
											<td>{{infoPartita.puntiFuori}}</td>
						    				<td class="center">Parziale Squadra</td>
						    				<td></td>
						    			</tr>
						    			<tr>
						    				<td>{{infoPartita.modFuori}}</td>
						    				<td class="center">Modificatore dif</td>
						    				<td></td>
						    			</tr>
						    			<tr>
						    				<td style="font-size: large">{{infoPartita.totaleFuori}}</td>
						    				<td class="center">Totale Squadra</td>
						    				<td></td>
						    			</tr>
									</table>	
						    	</td>
						    	<td ng-hide="squadraFuori.length"></td>
						    	<td></td>
						    </tr>
							
					    </tbody>
					</table>
				  </div>
				  
				  <!-- MOBILE -->
				  <div class="riepilogoContainer imdb-no-desktop imdb-no-tablet" style="display:none">
					<img alt="" src="images/close.png" ng-click="chiudiDettaglio()" class="closeButton">
					<table class="riepilogoTableContainer" id="{{infoPart.idPartita}}-{{infoPart.giornata}}">
						<tbody>
							<tr>
								<td style="background: white;" ng-show="squadraCasa.length && infoPartita.totaleCasa > 0">
									<table class="riepilogoCasa riepilogo" >
										<tr>
						    				<td></td>
						    				<td class="center">Parziale Squadra</td>
						    				<td>{{infoPartita.puntiCasa}}</td>
						    			</tr>
						    			<tr>
						    				<td></td>
						    				<td class="center">Modificatore dif</td>
						    				<td>{{infoPartita.modCasa}}</td>
						    			</tr>
						    			<tr>
						    				<td></td>
						    				<td class="center">Totale Squadra</td>
						    				<td>{{infoPartita.totaleCasa}}</td>
						    			</tr>
									</table>	
								</td>
								<td ng-hide="squadraCasa.length"></td>
								<td style="background: white;" ng-show="squadraFuori.length && infoPartita.totaleFuori > 0">
						    		<table class="riepilogoFuori riepilogo">
										<tr>
											<td>{{infoPartita.puntiFuori}}</td>
						    				<td class="center">Parziale Squadra</td>
						    				<td></td>
						    			</tr>
						    			<tr>
						    				<td>{{infoPartita.modFuori}}</td>
						    				<td class="center">Modificatore dif</td>
						    				<td></td>
						    			</tr>
						    			<tr>
						    				<td>{{infoPartita.totaleFuori}}</td>
						    				<td class="center">Totale Squadra</td>
						    				<td></td>
						    			</tr>
									</table>	
						    	</td>
						    	<td ng-hide="squadraFuori.length"></td>
						    </tr>
						    <tr style="heigth: 10px" />
						    <tr>
						    	<td style="background: white;" ng-show="squadraCasa.length">
									<table class="titolariCasa titolari">
										<tr ng-repeat="titolareCasa in squadraCasa" ng-if="titolareCasa.titolare == '0'">
											<td class="invform-{{getDescrizioneRuolo(titolareCasa.ruoloGiocatore).toLowerCase()}}">{{getAbbreviazioneRuolo(titolareCasa.ruoloGiocatore)}}</td>
											<td>{{titolareCasa.nomeAbbreviato}}</td>
											<td class="center">{{titolareCasa.voto}}</td>
											<td class="center" ng-class="{'bad' : titolareCasa.bonusMalus < 0, 'good' : titolareCasa.bonusMalus > 0}">{{titolareCasa.bonusMalus}}</td>
											<td class="center" ng-class="{'bad' : titolareCasa.votoTotale < 6, 'good' : !titolareCasa.votoTotale < 6}">{{titolareCasa.votoTotale}}</td>
										</tr>
									</table>
								</td>
								<td style="background: white;" ng-show="squadraFuori.length">
									<table class="titolariFuori titolari">
										<tr ng-repeat="titolareFuori in squadraFuori" ng-if="titolareFuori.titolare == '0'">
											<td class="invform-{{getDescrizioneRuolo(titolareFuori.ruoloGiocatore).toLowerCase()}}">{{getAbbreviazioneRuolo(titolareFuori.ruoloGiocatore)}}</td>
											<td>{{titolareFuori.nomeAbbreviato}}</td>
											<td class="center">{{titolareFuori.voto}}</td>
											<td class="center" ng-class="{'bad' : titolareFuori.bonusMalus < 0, 'good' : titolareFuori.bonusMalus > 0}">{{titolareFuori.bonusMalus}}</td>
											<td class="center" ng-class="{'bad' : titolareFuori.votoTotale < 6, 'good' : !titolareFuori.votoTotale < 6}">{{titolareFuori.votoTotale}}</td>
										</tr>
									</table>
								</td>
						    </tr>
						    <tr>
						    	<td style="vertical-align: top;" ng-show="squadraCasa.length">
									<table class="panchinaCasa panchina" >
										<tr>
											<th colspan="3">
												<img ng-src="images/panchina.png" class="logo"/>
											</th>
										</tr>
										<tr ng-repeat="riservaCasa in squadraCasa" ng-if="riservaCasa.titolare != '0' && riservaCasa.titolare != '-1'">
											<td>{{getAbbreviazioneRuolo(riservaCasa.ruoloGiocatore)}}</td>
											<td>{{riservaCasa.nomeAbbreviato}}</td>
											<td>{{riservaCasa.votoTotale}}</td>
										</tr>
									</table>
								</td>
								<td style="vertical-align: top;" ng-show="squadraFuori.length">
									<table class="panchinaFuori panchina">
										<tr>
											<th colspan="3">
												<img ng-src="images/panchina.png" class="logo"/>
											</th>
										</tr>
										<tr ng-repeat="riservaFuori in squadraFuori" ng-if="riservaFuori.titolare != '0' && riservaFuori.titolare != '-1'">
											<td>{{getAbbreviazioneRuolo(riservaFuori.ruoloGiocatore)}}</td>
											<td>{{riservaFuori.nomeAbbreviato}}</td>
											<td>{{riservaFuori.votoTotale}}</td>
										</tr>
									</table>
								</td>
						    </tr>
					    </tbody>
					</table>
				  </div>
				</div>
			</div>	
		</div>
	</body>
</html>