<html ng-app="IMDB">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" viewport="">
		<title>IMDB</title>		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>		
		<script src="js/jquery-ui.js"></script>
		<link rel="stylesheet" href="style/jquery-ui.structure.css">
		<link rel="stylesheet" href="style/jquery-ui.theme.css">
		<script src="js/interface.js"></script>
		<script src="js/javacrypt.js"></script>
		<script src="js/imdb.js"></script>
		<script src="js/controller/invFormController.js"></script>
		<link rel="stylesheet" href="style/style.css">		
	</head>
	<body ng-controller="invFormCtrl">
		<div class="imdb-overlay"></div>
		<div id="wrapper">
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading">
				<div class="menuContainer invform-loghi" ng-show="!rosa">
					<img class="logoInv menuItemInv" ng-class="{selected : $index==-1}" id="squadra-{{squadra.idSquadra}}" ng-repeat="squadra in squadre" alt="" ng-src="{{squadra.logo}}" ng-click="inserisciPassword(squadra)">
					<img class="logo invform-btn" onclick="window.location='index.html'" alt="Torna alla home" src="images/football.png" />			
				</div>
				<div id="divPassword" class="imdb-detail-overlay imdb-gutter imdb-overlay-div">
					<div class="imdb-detail-overlay__close imdb-close-icon"	data-ng-click="closePasswordDiv()"></div>
					<h2 class="imdb-detail-overlay__title">{{squadraSelected.nome}}</h2>						
					<div class="imdb-detail-overlay__content imdb-gutter-v">
						<form>
							<span class="imdb-left">Password: </span>
							<input type="password" name="password" class="imdb-left imdb-password" autofocus tabindex="1" />
							<input type="submit" value="Invia" data-ng-click="verificaPassword(squadraSelected.password)" class="imdb-right imdb-invia-btn" tabindex="2" />
							<br />
							<span class="imdb-error" data-ng-hide="inviabile">Password non valida</span>
						</form>
					</div>
				</div>
				<div id="divSchedina" class="imdb-detail-overlay imdb-gutter imdb-overlay-div">
					<div class="imdb-detail-overlay__close imdb-close-icon"
						data-ng-click="closeSchedinaDiv()"></div>
					<h2 class="imdb-detail-overlay__title">Invia formazione</h2>						
					<div class="imdb-detail-overlay__content imdb-gutter-v">							
						<table class="schedina">
							<tr ng-repeat="incontro in listaIncontri">
								<td>{{incontro.squadraCasa}}</td>
								<td>{{incontro.squadraFuori}}</td>
								<td style="text-align: right">
									<img class="schedina-pron schedina-1 {{incontro.idPartita}}" id="{{incontro.idPartita}}-1" ng-click="pronostico(incontro.idPartita, '1')">&nbsp;
									<img class="schedina-pron schedina-X {{incontro.idPartita}}" id="{{incontro.idPartita}}-X" ng-click="pronostico(incontro.idPartita, 'X')">&nbsp;
									<img class="schedina-pron schedina-2 {{incontro.idPartita}}" id="{{incontro.idPartita}}-2" ng-click="pronostico(incontro.idPartita, '2')">
								</td>
							</tr>
						</table>
						<br />
						<span class="imdb-error" data-ng-hide="inviabile" style="font-size: 15px">Schedina incompleta</span>
						<input type="submit" value="Invia" data-ng-click="inviaFormazione()" class="imdb-right imdb-invia-btn" />							
					</div>
				</div>
				<div id="divConferma" class="imdb-detail-overlay imdb-gutter imdb-overlay-div">
					<div class="imdb-detail-overlay__close imdb-close-icon"
						data-ng-click="closeConfermaDiv()"></div>
					<h2 class="imdb-detail-overlay__title" id="confermaTitle"></h2>						
					<div class="imdb-detail-overlay__content imdb-gutter-v">
						<span class="imdb-singleerror" id="confermaText"></span>										
					</div>
				</div>				
				<div id="listaGiocatori" class="inv-rose imdb-no-mobile imdb-no-tablet">
					<table class="invia-form-table" data-ng-hide="!rosa">
						<thead>
							<tr>
							  <th></th>
						      <th>Nome (Squadra)</th>	
						      <th>MVt</th>
						      <th>FMt</th>						      					     
						      <th>Avv</th>
						    </tr>
						</thead>
					    <tbody>
						    <tr ng-repeat="calciatore in rosa.rosa" ng-class="{'imdb-disabled' : calciatore.disabled }" data-ng-click="clickGiocatore(calciatore)" 	style="cursor: pointer;" class="invform-riga invform-{{getDescrizioneRuolo(calciatore.ruolo).toLowerCase()}}">
						      <td><img class="invform-logo" ng-src="{{calciatore.squadraDiAfoto}}" /></td>
						      <td>{{calciatore.nomeAbbr}} ({{calciatore.squadraDiA}})</td>		
						      <td class="center">{{calciatore.mediaVoto}}</td>	
						      <td class="center">{{calciatore.fantamediaVoto}}</td>						      
						      <td class="center">{{calciatore.prossimoAvversario}}</td>
						    </tr>
					    </tbody>
					</table>					
				</div>
				<div id="listaGiocatoriMobile" class="inv-rose imdb-no-desktop" ng-swipe-left="difesa = false" ng-swipe-right="difesa = true"> 
					<table class="invia-form-table" data-ng-hide="!rosa">
						<thead>
							<tr>
							  <th></th>
						      <th>Nome (Squadra)</th>	
						      <th>MVt</th>
						      <th>FMt</th>						      					     
						      <th>Avv</th>
						    </tr>
						</thead>
					    <tbody>
						    <tr ng-repeat="calciatore in rosa.rosa" ng-class="{'imdb-disabled' : calciatore.disabled }" data-ng-click="clickGiocatore(calciatore)" 	style="cursor: pointer;" class="invform-riga invform-{{getDescrizioneRuolo(calciatore.ruolo).toLowerCase()}}" ng-show="(difesa && calciatore.ruolo < 3) || (!difesa && calciatore.ruolo > 2)">
						      <td><img class="invform-logo" ng-src="{{calciatore.squadraDiAfoto}}" /></td>
						      <td>{{calciatore.nomeAbbr}} ({{calciatore.squadraDiA}})</td>		
						      <td class="center">{{calciatore.mediaVoto}}</td>	
						      <td class="center">{{calciatore.fantamediaVoto}}</td>						      
						      <td class="center">{{calciatore.prossimoAvversario}}</td>
						    </tr>
					    </tbody>
					</table>					
				</div>															
				<div id="campo" class="campo" data-ng-hide="!rosa">
					<div class="maglia campo-portiere-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-2"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-3"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-4"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-5"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-6"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-2"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-3"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-4"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-5"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-6"><p class="label-maglia"></p></div>
					<div class="maglia campo-attaccante-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-attaccante-2"><p class="label-maglia"></p></div>
					<div class="maglia campo-attaccante-3"><p class="label-maglia"></p></div>
					<div class="maglia-panchina campo-riserva-1"><p class="label-maglia-panchina"></p></div>
					<div class="maglia-panchina campo-riserva-2"><p class="label-maglia-panchina"></p></div>
					<div class="maglia-panchina campo-riserva-3"><p class="label-maglia-panchina"></p></div>
					<div class="maglia-panchina campo-riserva-4"><p class="label-maglia-panchina"></p></div>
					<div class="maglia-panchina campo-riserva-5"><p class="label-maglia-panchina"></p></div>
					<div class="maglia-panchina campo-riserva-6"><p class="label-maglia-panchina"></p></div>
					<div class="maglia-panchina campo-riserva-7"><p class="label-maglia-panchina"></p></div>					
				</div>
				<div class="invform-scadenza imdb-no-desktop" ng-hide="!rosa"><span style="color:white">SCADENZA: </span><span style="color:red">{{termine}}</span></div>
				<img class="logo invform-btn" ng-hide="!rosa" onclick="window.location='index.html'" alt="Torna alla home" src="images/football.png" />
				<img class="logo invform-btn schedina-btn" ng-hide="!rosa" alt="Invia formazione" src="images/invia.png" ng-click="inserisciSchedina()" />
				<div class="invform-scadenza invform-btn imdb-no-mobile imdb-no-tablet" ng-hide="!rosa"><span style="color:white">SCADENZA: </span><span style="color:red">{{termine}}</span></div>
			</div>
		</div>
	</body>
</html>