<html ng-app="IMDB">
	<head>
		<meta charset="utf-8">
		<title>IMDB</title>
		<script src="js/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<link rel="stylesheet" href="style/jquery-ui.structure.css">
		<link rel="stylesheet" href="style/jquery-ui.theme.css">
		<script src="js/interface.js"></script>
		<script src="js/controller/invFormController.js"></script>
		<link rel="stylesheet" href="style/style.css">		
	</head>
	<body ng-controller="invFormCtrl">
		<div id="wrapper">
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading">
				<div id="listaGiocatori" class="inv-rose">
					<select ng-model="squadraSelected" ng-change="visualizzaSquadra()" ng-options="squadra.idSquadra as squadra.nome for squadra in squadre"></select>					
					<table class="invia-form-table" data-ng-hide="!rosa">
						<thead>
							<tr>
						      <th>Nome</th>	
						      <th>Squadra</th>
						      <th>Ruolo</th>						      					     
						    </tr>
						</thead>
					    <tbody>
						    <tr ng-repeat="calciatore in rosa.rosa" ng-class="{'imdb-disabled' : calciatore.disabled }">
						      <td style="cursor: pointer;" data-ng-click="clickGiocatore(calciatore)">{{calciatore.nome}}</td>		
						      <td>{{calciatore.squadraDiA}}</td>	
						      <td>{{getDescrizioneRuolo(calciatore.ruolo)}}</td>						      
						    </tr>
					    </tbody>
					</table>					
				</div>			
				<div id="campo" class="campo">
					<div class="maglia campo-portiere"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-2"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-3"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-4"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-5"><p class="label-maglia"></p></div>
					<div class="maglia campo-difensore-6"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-2"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-3"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-4"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-5"><p class="label-maglia"></p></div>
					<div class="maglia campo-centrocampista-6"><p class="label-maglia"></p></div>
					<div class="maglia campo-attaccante-1"><p class="label-maglia"></p></div>
					<div class="maglia campo-attaccante-2"><p class="label-maglia"></p></div>
					<div class="maglia campo-attaccante-3"><p class="label-maglia"></p></div>
				</div>
			</div>
		</div>
	</body>
</html>