<html ng-app="IMDB">
	<head>
		<meta http-equiv="cache-control" content="max-age=0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="-1">
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
		<meta http-equiv="pragma" content="no-cache">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" viewport="">
		<title>IMDB</title>		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/angular.min.js"></script>		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>		
		<script src="js/angular-dragdrop.min.js"></script>	
		<script src="js/jquery-ui.js"></script>
		<link rel="stylesheet" href="style/jquery-ui.structure.css">
		<link rel="stylesheet" href="style/jquery-ui.theme.css">
		<script src="js/interface.js"></script>
		<script src="js/javacrypt.js"></script>
		<script src="js/imdb.js"></script>
		<script src="js/controller/mercatoController.js"></script>	
		<script src="js/slick.js"></script>	
		<link rel="stylesheet" href="style/style_mobile.css">
		<link rel="stylesheet" href="style/style_tablet.css">
		<link rel="stylesheet" href="style/style.css">
		<link rel="stylesheet" href="style/slick.css">
		<link rel="stylesheet" href="style/slick-theme.css">
	</head>
	<body ng-controller="mercatoCtrl">
		<div class="imdb-overlay"></div>
		<div id="wrapper">
			<div class="imdb-results__loading2" data-ng-show="loading"></div>
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading">
				
				<div class="inv-roseMrc">
					<div class="menuContainer" style="text-align: center;">
						<img class="logoSquadraMrc sqSrc" ng-class="{selected : $index==-1}" id="squadraSrc-{{squadra.idSquadra}}" ng-repeat="squadra in squadre" alt="" ng-src="{{squadra.logo}}" ng-click="inserisciPassword(squadra)">
						<img class="logo backHome mrcBackHome imdb-no-mobile"  onclick="window.location='index.html'" alt="Torna alla homepage" src="images/football.png">
					</div>
					<div id="divPassword" class="imdb-detail-overlay imdb-gutter imdb-overlay-div">
						<div class="imdb-detail-overlay__close imdb-close-icon"	data-ng-click="closePasswordDiv()"></div>
						<h2 class="imdb-detail-overlay__title">{{squadraSelected.nome}}</h2>						
						<div class="imdb-detail-overlay__content imdb-gutter-v">
							<form>
								<span class="imdb-left">Password: </span>
								<input type="password" name="password" class="imdb-left imdb-password" autofocus tabindex="1" />
								<input type="submit" value="Invia" data-ng-click="verificaPassword(squadraSelected.password)" class="imdb-right imdb-invia-btn" tabindex="2" />
								<br />
								<span class="imdb-error" data-ng-hide="inviabile">Password non valida</span>
							</form>
						</div>
					</div>
					<br >
					<div id="rosaSquadraSrcNoMobile" class="imdb-no-mobile" ng-show="rosa.rosa">
						<table class="container containerMrc">
							<thead>
								<tr>
								  <th></th>
								  <th></th>
							      <th>Nome</th>	
							      <th>Squadra</th>
							      <th></th>					      
							      <th>Prezzo</th>					      	      
							    </tr>
							</thead>
							<tbody>
					        	<tr ng-repeat="calciatore in rosa.rosa" class="squadraMercato" ng-click="selezionaCalciatore({{calciatore.idFcm}})" ng-class="{ 'portiere' : calciatore.ruolo == 1, 'difensore' : calciatore.ruolo == 2, 'centrocampista' : calciatore.ruolo == 3, 'attaccante' : calciatore.ruolo == 4 }">
					        		<td><input style="color:white; display:none" type="checkbox" ruolo="{{calciatore.ruolo}}" name="srcSelected" value="{{calciatore.idFcm}}" nome="{{calciatore.nomeAbbr}}" /></td>
					         		<td  style="text-align:center"><img class="logo" alt="" ng-src="{{calciatore.foto}}" err-src="images/misterx.gif"></td>
								    <td>{{calciatore.nome}}</td>		
								    <td>{{calciatore.squadraDiA}}</td>	
								    <td style="text-align:center"><img class="logo" alt="" ng-src="{{calciatore.squadraDiAfoto}}" err-src="images/nologo.png"></td>
								    <td>{{calciatore.prezzo}}</td>
					        	</tr>			
					        </tbody>
				        </table>
					</div>
					<div id="rosaSquadraSrcMobile" class="inv-rose imdb-no-desktop imdb-no-tablet" ng-show="rosa.rosa">
						<table class="invia-form-table">							
							<tbody>
					        	<tr ng-repeat="calciatore in rosa.rosa" class="squadraMercato" ng-click="selezionaCalciatore({{calciatore.idFcm}})" ng-class="{ 'portiere' : calciatore.ruolo == 1, 'difensore' : calciatore.ruolo == 2, 'centrocampista' : calciatore.ruolo == 3, 'attaccante' : calciatore.ruolo == 4 }">
					        		<td><input style="color:white; display:none" type="checkbox" ruolo="{{calciatore.ruolo}}" name="srcSelected" value="{{calciatore.idFcm}}" nome="{{calciatore.nomeAbbr}}" /></td>
					         		<td  style="text-align:center"><img class="invform-logo" alt="" ng-src="{{calciatore.foto}}" err-src="images/misterx.gif"></td>
								    <td class="center">{{calciatore.nomeAbbr}}</td>		
								    <!--<td class="center">{{calciatore.squadraDiA}}</td>-->
								    <td style="text-align:center"><img class="invform-logo" alt="" ng-src="{{calciatore.squadraDiAfoto}}" err-src="images/nologo.png"></td>
								    <td>{{calciatore.prezzo}}</td>
					        	</tr>			
					        </tbody>
				        </table>
				     </div>
				</div>
				
				<div class="verticalLine">		
					<div ng-hide="proposte.length == 0" >
						<div class="propContainer" ng-click="toggleViewProposte()">
							<span class="numProposta">{{proposte.length}}</span>
						 	<img class="imgProposta" src="images/proposte.png"/>
						 </div>
						<div ng-class="{'imdb-visible' : viewProposte}" class="imdb-detail-overlay imdb-gutter imdb-overlay-div">
							<div class="imdb-detail-overlay__close imdb-close-icon"	data-ng-click="closePropostaDiv()"></div>
							<div class="divProposte">
						        <div ng-repeat="proposta in proposte">
						        	<div class="titoloProposta">Proposta {{proposta.ricevuta ? 'ricevuta da ' : 'inviata a '}} <b style="color: #a90433;">{{proposta.ricevuta ? proposta.squadraSrc.nome : proposta.squadraDst.nome}}</b></div>
									<div class="divProposta left">
										<table class="tabellaProposta">																						
								        	<tr ng-repeat="calciatoreSrc in proposta.giocatoriSrc track by $index" ng-class="{ 'portiere' : calciatoreSrc.ruolo == 1, 'difensore' : calciatoreSrc.ruolo == 2, 'centrocampista' : calciatoreSrc.ruolo == 3, 'attaccante' : calciatoreSrc.ruolo == 4 }">									        		
								         		<td class="center"><img class="propLogo" alt="" ng-src="{{calciatoreSrc.foto}}" err-src="images/misterx.gif"></td>
											    <td>{{calciatoreSrc.nomeAbbr}}</td>													    
											    <td class="center"><img class="propLogo" alt="" ng-src="{{calciatoreSrc.squadraDiAfoto}}" err-src="images/nologo.png"></td>
											    <td>{{calciatoreSrc.prezzo}}</td>											    
								        	</tr>
								        	<tr class="center bad tabelleTdFontSize" ng-show="proposta.creditiSrc > 0"><td colspan="4">+ {{proposta.creditiSrc}} crediti</td></tr>
								        </table>										
									</div>
									<div class="divProposta right">
										<table class="tabellaProposta">																			<tr ng-repeat="calciatoreDst in proposta.giocatoriDst track by $index" ng-class="{ 'portiere' : calciatoreDst.ruolo == 1, 'difensore' : calciatoreDst.ruolo == 2, 'centrocampista' : calciatoreDst.ruolo == 3, 'attaccante' : calciatoreDst.ruolo == 4 }">								
								         		<td class="center"><img class="propLogo" alt="" ng-src="{{calciatoreDst.foto}}" err-src="images/misterx.gif"></td>
											    <td>{{calciatoreDst.nomeAbbr}}</td>													    
											    <td class="center"><img class="propLogo" alt="" ng-src="{{calciatoreDst.squadraDiAfoto}}" err-src="images/nologo.png"></td>
											    <td>{{calciatoreDst.prezzo}}</td>											    
								        	</tr>
								        	<tr class="center bad tabelleTdFontSize" ng-show="proposta.creditiDst > 0"><td colspan="4">+ {{proposta.creditiDst}} crediti</td></tr>								        	
								        </table>										
									</div>
									<div style="width:100%; float:left">
										<div ng-show="proposta.ricevuta">
											<img src="images/yes.jpg" class="bottoniProposta" style="margin-right: 30px" ng-click="accettaProposta(proposta)"></img>
											<img src="images/no.jpg" class="bottoniProposta" ng-click="rifiutaProposta(proposta)"></img>
										</div>
										<div ng-hide="proposta.ricevuta">
											<img src="images/no.jpg" class="bottoniProposta" ng-click="annullaProposta(proposta)"></img>
										</div>
									</div>
						        </div>
							</div>
						</div>
					</div>
					<div class="mrcDareAvereDiv" ng-show="squadraSelected && squadraDst">
						<img src="images/right.png" class="moneyArrow"/>
						<input class="money" placeholder="Dare" type="text" ng-model="srcMoney">
						<img src="images/change.png" ng-click="richiediScambio()" class="richiediScambio" title="Richiedi scambio" />
						<input class="money" placeholder="Avere" type="text" ng-model="dstMoney">
						<img src="images/left.png" class="moneyArrow"/>
					</div>
				</div>

				<div class="inv-roseMrc" data-ng-hide="!rosa" ng-class="{'marginTop90': proposte.length}">
					<div class="menuContainer" style="text-align: center;">
						<img  class="logoSquadraMrc sqDst" id="squadraDst-{{squadra.idSquadra}}" ng-repeat="squadra in squadre | filter:{ idSquadra: '!' + squadraSelected.idSquadra}" alt="" ng-src="{{squadra.logo}}" ng-click="mostraRosa(squadra.idSquadra)">
					</div>
					<br >
					<div id="rosaSquadraDstNoMobile" class="imdb-no-mobile" ng-show="rosaDst.rosa">
						<table class="container containerMrc">					
							<thead>
								<tr>
								  <th></th>
								  <th></th>
							      <th>Nome</th>	
							      <th>Squadra</th>
							      <th></th>					      
							      <th>Prezzo</th>					      	      
							    </tr>
							</thead>
							<tbody>
					        	<tr ng-repeat="calciatoreDst in rosaDst.rosa" class="squadraMercato" ng-click="selezionaCalciatore({{calciatoreDst.idFcm}})" ng-class="{ 'portiere' : calciatoreDst.ruolo == 1, 'difensore' : calciatoreDst.ruolo == 2, 'centrocampista' : calciatoreDst.ruolo == 3, 'attaccante' : calciatoreDst.ruolo == 4 }">
					        		<td><input style="color:white; display:none" type="checkbox" ruolo="{{calciatoreDst.ruolo}}" name="dstSelected" value="{{calciatoreDst.idFcm}}" nome="{{calciatoreDst.nomeAbbr}}" /></td>
					         		<td  style="text-align:center"><img class="logo" alt="" ng-src="{{calciatoreDst.foto}}" err-src="images/misterx.gif"></td>
								    <td>{{calciatoreDst.nome}}</td>		
								    <td>{{calciatoreDst.squadraDiA}}</td>	
								    <td style="text-align:center"><img class="logo" alt="" ng-src="{{calciatoreDst.squadraDiAfoto}}" err-src="images/nologo.png"></td>
								    <td>{{calciatoreDst.prezzo}}</td>
					        	</tr>			
					        </tbody>
			        	</table>	
			        </div>
			        <div id="rosaSquadraDstMobile" class="inv-rose imdb-no-desktop imdb-no-tablet" ng-show="rosaDst.rosa">
						<table class="invia-form-table">
							<tbody>
					        	<tr ng-repeat="calciatoreDst in rosaDst.rosa" class="squadraMercato" ng-click="selezionaCalciatore({{calciatoreDst.idFcm}})" ng-class="{ 'portiere' : calciatoreDst.ruolo == 1, 'difensore' : calciatoreDst.ruolo == 2, 'centrocampista' : calciatoreDst.ruolo == 3, 'attaccante' : calciatoreDst.ruolo == 4 }">
					        		<td><input style="color:white; display:none" type="checkbox" ruolo="{{calciatoreDst.ruolo}}" name="dstSelected" value="{{calciatoreDst.idFcm}}" nome="{{calciatoreDst.nomeAbbr}}" /></td>
					         		<td  style="text-align:center"><img class="invform-logo" alt="" ng-src="{{calciatoreDst.foto}}" err-src="images/misterx.gif"></td>
								    <td>{{calciatoreDst.nomeAbbr}}</td>		
								    <!--<td>{{calciatoreDst.squadraDiA}}</td>-->
								    <td style="text-align:center"><img class="invform-logo" alt="" ng-src="{{calciatoreDst.squadraDiAfoto}}" err-src="images/nologo.png"></td>
								    <td>{{calciatoreDst.prezzo}}</td>
					        	</tr>			
					        </tbody>
			        	</table>				
					</div>
				<div id="divConferma" class="imdb-detail-overlay imdb-gutter imdb-overlay-div">
					<div class="imdb-detail-overlay__close imdb-close-icon"
						data-ng-click="closeConfermaDiv()"></div>
					<h2 class="imdb-detail-overlay__title" id="confermaTitle"></h2>						
					<div class="imdb-detail-overlay__content imdb-gutter-v">
						<span class="imdb-singleerror" id="confermaText"></span>										
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>