<html ng-app="IMDB">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" viewport="">
		<title>IMDB</title>
		<script src="js/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
		<script src="js/jquery-ui.js"></script>
		<link rel="stylesheet" href="style/jquery-ui.structure.css">
		<link rel="stylesheet" href="style/jquery-ui.theme.css">
		<script src="js/interface.js"></script>
		<script src="js/imdb.js"></script>
		<script src="js/controller/squadreController.js"></script>		
		<link rel="stylesheet" href="style/style_mobile.css">
		<link rel="stylesheet" href="style/style_tablet.css">
		<link rel="stylesheet" href="style/style.css">		
	</head>
	<body ng-controller="squadreCtrl">
		<div id="wrapper">
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading"> 
<!-- 				<select ng-model="squadraSelected" ng-change="visualizzaSquadra()" ng-options="squadra.idSquadra as squadra.nome for squadra in squadre"></select> -->
				<div class="menuContainer">
					<img class="logo menuItem" ng-class="{selected : $index==0}" id="squadra-{{squadra.idSquadra}}" ng-repeat="squadra in squadre" alt="" ng-src="{{squadra.logo}}" ng-click="visualizzaSquadra(squadra.idSquadra)">
					<img class="logo backHome"  onclick="window.location='index.html'" alt="" src="images/football.png">
				</div>
				<table class="container" data-ng-hide="!rosa">
					<thead>
						<tr>
						  <th></th>
					      <th>Nome</th>	
					      <th>Squadra</th>
					      <th></th>
					      <th>Ruolo</th>
					      <th>Prezzo</th>					      	      
					    </tr>
					</thead>
				    <tbody>
					    <tr ng-repeat="calciatore in rosa.rosa" ng-class="{portiere : calciatore.ruolo==1, difensore : calciatore.ruolo==2 , centrocampista : calciatore.ruolo==3 , attaccante : calciatore.ruolo==4 }">
					      <td  style="text-align:center"><img class="logo" alt="" ng-src="{{calciatore.foto}}"></td>
					      <td>{{calciatore.nome}}</td>		
					      <td>{{calciatore.squadraDiA}}</td>	
					      <td style="text-align:center"><img class="logo" alt="" ng-src="{{calciatore.squadraDiAfoto}}"></td>
					      <td>{{getDescrizioneRuolo(calciatore.ruolo)}}</td>
					      <td>{{calciatore.prezzo}}</td>
					    </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</body>
</html>