<html ng-app="IMDB">
	<head>
		<meta charset="utf-8">
		<title>IMDB</title>
		<script src="js/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/interface.js"></script>
		<script src="js/controller/squadreController.js"></script>
		<link rel="stylesheet" href="style/style.css">		
	</head>
	<body ng-controller="squadreCtrl">
		<div id="wrapper">
			<div class="backHome" onclick="window.location='index.html'"><img class="logo" style="cursor:pointer" alt="" src="images/football.png"></div>
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading">
				<select ng-model="squadraSelected" ng-change="visualizzaSquadra()" ng-options="squadra.idSquadra as squadra.nome for squadra in squadre"></select>
				<table class="container" data-ng-hide="!rosa">
					<thead>
						<tr >
					      <th>Nome</th>	
					      <th>Squadra</th>
					      <th></th>
					      <th>Ruolo</th>
					      <th>Prezzo</th>
					      <th></th>					      
					    </tr>
					</thead>
				    <tbody>
					    <tr ng-repeat="calciatore in rosa.rosa" ng-class="{portiere : calciatore.ruolo==1, difensore : calciatore.ruolo==2 , centrocampista : calciatore.ruolo==3 , attaccante : calciatore.ruolo==4 }">
					      <td  style="text-align:center"><img class="logo" alt="" src="{{calciatore.foto}}"></td>
					      <td>{{calciatore.nome}}</td>		
					      <td>{{calciatore.squadraDiA}}</td>	
					      <td style="text-align:center"><img class="logo" alt="" src="{{calciatore.squadraDiAfoto}}"></td>
					      <td>{{getDescrizioneRuolo(calciatore.ruolo)}}</td>
					      <td>{{calciatore.prezzo}}</td>
					    </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</body>
</html>