<html ng-app="IMDB">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" viewport="">
		<title>IMDB</title>
		<script src="js/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
		<script src="js/jquery-ui.js"></script>
		<link rel="stylesheet" href="style/jquery-ui.structure.css">
		<link rel="stylesheet" href="style/jquery-ui.theme.css">		
		<script src="js/interface.js"></script>
		<script src="js/imdb.js"></script>
		<script src="js/controller/statisticheController.js"></script>		
		<link rel="stylesheet" href="style/style.css">	
		<link rel="stylesheet" href="style/style_mobile.css">
		<link rel="stylesheet" href="style/style_tablet.css">		
	</head>
	<body ng-controller="statisticheCtrl" data-ng-init="initData()">
		<div id="wrapper">
			<div class="imdb-results__loading" data-ng-show="loading"></div>
			<div data-ng-hide="loading">
				<div class="menuContainer center">
					<img class="logo backHome" id="voti" ng-click="caricaStat('seavessiavuto')" alt="Se Avessi Avuto" ng-src="images/calendarioincrociato.png">					
					<img class="logo backHome" id="schedina" ng-click="caricaStat('schedina')" alt="Schedina" ng-src="images/schedina.png">
					<img class="logo backHome" id="mercato" ng-click="caricaStat('mercato')" alt="Giocatori liberi" ng-src="images/mercato.png">
					<img class="logo backHome" onclick="window.location='index.html'" alt="" src="images/football.png">
				</div>				
				<div ng-show="statistica == 'seavessiavuto'">
					<table class="container">
						<thead>
							<tr>
						      <th>Squadre</th>	
						      <th colspan="{{squadre.length}}" class="center">Punti con il calendario di...</th>					      
						    </tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td data-ng-repeat="squadra in squadre">
									{{squadra.nome}}
								</td>
							</tr>
							<tr data-ng-repeat="se in seavessi">
								<td>{{getSquadraNameById(se.squadraA)}}</td>
								<td data-ng-repeat="ar in se.array" class="center" ng-class="{'white': ar.squadraA == ar.squadraB, 'red': getSquadraPuntiById(ar.squadraA) > ar.punti, 'green': getSquadraPuntiById(ar.squadraA) < ar.punti, 'yellow': getSquadraPuntiById(ar.squadraA) == ar.punti}">								
									<span>{{ar.punti}}</span>
								</td>
							</tr>
							<tr style="height: 20px" />
							<tr class="center">
								<td colspan="{{squadre.length - 2}}">Squadra pi&ugrave; fortunata nell'assegnazione calendario:</td>
								<td colspan="3">{{(squadraPiuFortunata)}}</td>
							</tr>
							<tr class="center">
								<td colspan="{{squadre.length - 2}}">Squadra pi&ugrave; sfortunata nell'assegnazione calendario:</td>
								<td colspan="3">{{(squadraPiuSfortunata)}}</td>
							</tr>
							<tr class="center">
								<td colspan="{{squadre.length - 2}}">Calendario pi&ugrave; facile in assoluto</td>
								<td colspan="3">{{(calendarioPiuFacile)}}</td>
							</tr>
							<tr class="center">
								<td colspan="{{squadre.length - 2}}">Calendario pi&ugrave; difficile in assoluto</td>
								<td colspan="3">{{(calendarioPiuDifficile)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div data-ng-show="statistica == 'schedina'">
					<table class="container">
						<thead>
							<tr>
						      <th>Squadra/Giornata</th>
						      <th data-ng-repeat="gior in schedina[0].puntiGuadagnati">{{gior.giornata}}</th>
						    </tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="sched in schedina" class="center">
								<td>{{getSquadraNameById(sched.idSquadra)}}</td>
								<td data-ng-repeat="gior in sched.puntiGuadagnati" ng-class="{'red': gior.punti == 0, 'orange' : gior.punti == 2, 'yellow' : gior.punti == 4, 'green' : gior.punti == 6, 'darkgreen' : gior.punti == 8, 'ciano' : gior.punti == 10}">
									{{gior.punti}}
								</td>
							</tr>							
						</tbody>
					</table>
					<br>
					<table class="container">
						<tr class="center">
							<td></td>
							<td data-ng-repeat="squad in squadre">{{squad.nome}}</td>
						</tr>
						<tr class="center">
							<td>Crediti Residui</td>
							<td data-ng-repeat="squad in schedina">{{squad.creditiResidui}}</td>
						</tr>
						<tr class="center">
							<td>Crediti Acquisiti</td>
							<td data-ng-repeat="squad in schedina">{{squad.creditiAcquisiti}}</td>
						</tr>
						<tr class="center">
							<td>Totale crediti</td>
							<td data-ng-repeat="squad in schedina">{{squad.totaleCrediti}}</td>
						</tr>
					</table>
				</div>
				<div data-ng-show="statistica == 'mercato'">
					<table class="container" id="giocatoriliberi">
						<thead>
							<tr class="center titoloOrder">
								<td>Cerca <input ng-model="search"> <img ng-src="images/cancella.gif" style="vertical-align: middle; cursor: pointer" ng-show="search.length" ng-click="search = ''"/></td>
								<td><span ng-click="reverse=!reverse; orderSvincolati('nome', reverse)">Nome</span></td>
								<td><span ng-click="reverse=!reverse; orderSvincolati('squadra', reverse)">Squadra</span></td>
								<td><span ng-click="reverse=!reverse; orderSvincolati('ruolo', reverse)">Ruolo</span></td>								
								<td><span ng-click="reverse=!reverse; orderSvincolati('fmld', reverse)">FMld</span></td>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="gioc in svincolati | filter:search" class="center" ng-class="{ 'portiere' : gioc.ruolo == 'P', 'difensore' : gioc.ruolo == 'D', 'centrocampista' : gioc.ruolo == 'C', 'attaccante' : gioc.ruolo == 'A' }">
								<td><img ng-src="{{gioc.foto}}" class="logo" err-src="images/misterx.gif"/></td>
								<td>{{gioc.nome}}</td>
								<td>{{gioc.squadra}}</td>
								<td>{{gioc.ruolo}}</td>
								<td>{{gioc.fmld}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>