body {
	background: url('../images/background.jpg');	 
}

.imdb-results__loading {
  background: white url('../images/preloader-results.gif?1384796714') no-repeat 50% 50%;
  -webkit-background-size: 64px 64px;
  -moz-background-size: 64px 64px;
  -o-background-size: 64px 64px;
  background-size: 64px 64px;
  height: 300px;
}

#wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.menuContainer {
	overflow: auto;
}

.menu {
	margin: 0 auto;
	-webkit-padding-start: 0px;
	list-style: none;
	counter-reset: li;
	border-radius: 10px;
	position: relative;
}

.menu:before,.menu:after {
	content: "";
	display: table;
}

.menu:after {
	clear: both;
}

.menu {
	zoom: 1;
}

/* -------------------------------- */
.menu li {
	width: 32%;
	height:45%;
	position: relative;
	float: left;
	cursor: pointer;
	margin: 5px 0 0 5px;
	color: #fff;
}

.menu li:hover,.menu li:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		.2)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .2),
		rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .2),
		rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .2),
		rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .2),
		rgba(255, 255, 255, 0));
	background-image: linear-gradient(top, rgba(255, 255, 255, .2),
		rgba(255, 255, 255, 0));
}

.menu .cover {
	z-index: 2;
}

.menu .cover:focus {
	outline: 0;
}

/* -------------------------------- */
.menu li::after {
	background:
		url("http://imalatidelbari.netsons.org/img/I_Malati_Del_Bari.gif")
		no-repeat 0 0;
	content: "";
	background-size: 100%;
	height: 100px;
	width: 40px;
	counter-increment: li;
	font: italic bold 10px serif, georgia;
	position: absolute;
	color: rgba(255, 255, 255, .1);
	opacity: 0;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.menu li:hover::after,.menu li:focus::after {
	font-size: 100px;
	opacity: 1;
}

.menu .cover::after {
	z-index: -1;
}

/* -------------------------------- */
.menu li:nth-child(1),.menu li:nth-child(2),.menu li:nth-child(3) {
	margin-top: 0;
}

.menu li:nth-child(1),.menu li:nth-child(4),.menu li:nth-child(7) {
	margin-left: 0;
}

/* -------------------------------- */
.menu li:nth-child(1),.menu li:nth-child(1) .content,.menu li:nth-child(1) .close
	{
	background-color: #2c618f;
}

.menu li:nth-child(2),.menu li:nth-child(2) .content,.menu li:nth-child(2) .close
	{
	background-color: #91ab31;
}

.menu li:nth-child(3),.menu li:nth-child(3) .content,.menu li:nth-child(3) .close
	{
	background-color: #714a28;
}

.menu li:nth-child(4),.menu li:nth-child(4) .content,.menu li:nth-child(4) .close
	{
	background-color: #e58600;
}

.menu li:nth-child(5),.menu li:nth-child(5) .content,.menu li:nth-child(5) .close
	{
	background-color: #c33a00;
}

.menu li:nth-child(6),.menu li:nth-child(6) .content,.menu li:nth-child(6) .close
	{
	background-color: #7f5dac;
}

.menu li:nth-child(7),.menu li:nth-child(7) .content,.menu li:nth-child(7) .close
	{
	background-color: #5672b7;
}

.menu li:nth-child(8),.menu li:nth-child(8) .content,.menu li:nth-child(8) .close
	{
	background-color: #69003f;
}

.menu li:nth-child(9),.menu li:nth-child(9) .content,.menu li:nth-child(9) .close
	{
	background-color: #393043;
}

/* -------------------------------- */
.menu .content {
	opacity: 0;
	display: none\9;
	overflow: hidden;
	font: 12px Arial, Helvetica;
	position: absolute;
	height: 120px;
	width: 200px;
	/* Ideally: height: 100%; width: 100%; but works at it should just in FF */
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.menu .expanded {
	opacity: .95;
	display: block\9;
	overflow: visible;
	padding: 40px;
	height: 300px;
	width: 540px; /* Cover the entire area */
}

.menu li:nth-child(3n) .content { /* 3,6,9 */
	right: 0;
}

.menu li:nth-child(3n-1) .expanded { /* 2,5,8 */
	left: 50%;
	margin-left: -310px;
}

.menu li:nth-child(7) .content, /* 7,8,9 */ .menu li:nth-child(8) .content,.menu li:nth-child(9) .content
	{
	bottom: 0;
}

.menu li:nth-child(4) .expanded, /* 4,5,6 */ .menu li:nth-child(5) .expanded,.menu li:nth-child(6) .expanded
	{
	margin-top: -190px;
	top: 50%;
}

/* -------------------------------- */
.menu .title {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	font: italic bold 1em/120px 'trebuchet MS', Arial, helvetica;
}

.menu li:hover .title {
	opacity: .7;
}

/* -------------------------------- */
.menu .close {
	display: none;
	border: 5px solid #fff;
	color: #fff;
	cursor: pointer;
	height: 40px;
	width: 40px;
	font: bold 20px/40px arial, helvetica;
	position: absolute;
	text-align: center;
	top: -20px;
	right: -20px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}

.menu .cover .close {
	display: block;
}

/* TABELLE */
.class_table {
	text-align: center;
}

.logo {
	height: 50px;
	cursor:pointer;
}

#calendarioTable{
	text-align: center!important;
}

#calendarioTable td{
	color:white!important;
}

.container th h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: #185875;
}

.container td {
	font: bold 1em 'trebuchet MS', Arial, helvetica;
	-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

.container th {
	font: bold 1.1em 'trebuchet MS', Arial, helvetica;
}

.container td, .container th {
		padding: 1%; 
	}

.portiere{
	background-color: rgb(121, 165, 233)!important; 	
}

.difensore{
	background-color: rgb(79, 128, 204)!important;	
}

.centrocampista{
	background-color: 	rgb(52, 64, 209)!important;
}

.attaccante{
	background-color: 	rgb(0, 0, 156)!important;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	display: table;
	/*padding: 0 0 8em 0;*/
	color: white
}


/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	background-color: #2C3446;
}

.container th {
	background-color: #1F2739;
}

.container td:first-child {
	color: #FB667A;
}

.container tr:hover {
	background-color: #464A52;
	-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

/* INVIO FOMRAZIONE */
.inv-rose {
	float: left;
	width: 40%;
	height: 580px;
	overflow: hidden;
}

.campo {
	overflow: hidden;
	position: relative;
	float: right; 
	width: 40%; 
	background: url('../images/campo.jpg') no-repeat;
	background-size: 100% 100%;
	height: 580px;	
}

.maglia {
	background: url('../images/maglia.png') no-repeat;
	background-size: 45px 45px;	
}

.menuItem {
	float: left;
	margin: 10px;
	opacity: .7;
}


.menuItem.selected{
	opacity: 1;
	margin: 0;
	height: 80px;
}

.backHome{
	margin: 10px;
}

.campo-portiere {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 530px;
	left: 195px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}

.campo-difensore-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 455px;
	left: 195px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}

.campo-difensore-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 435px;
	left: 128px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-difensore-3 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 435px;
	left: 263px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-difensore-4 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 410px;
	left: 53px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-difensore-5 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 410px;
	left: 333px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-difensore-6 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 395px;
	left: 195px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-centrocampista-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 325px;
	left: 195px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-centrocampista-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 265px;
	left: 118px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-centrocampista-3 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 265px;
	left: 263px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-centrocampista-4 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 205px;
	left: 195px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-centrocampista-5 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 205px;
	left: 53px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-centrocampista-6 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 205px;
	left: 333px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}

.campo-attaccante-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 55px;
	left: 195px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-attaccante-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 90px;
	left: 93px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}
.campo-attaccante-3 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 90px;
	left: 293px;
	/*display: none;*/
	color: white;
	font-weight: bold;
	text-align: left;
}

.imdb-disabled {
	color: #332E2E !important;
	background-color: white;
}

.invia-form-table {
	height: 95%;
	color: white;
	background-color: #332E2E;
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	
	#wrapper {
		width: 100%;
		height: 100%;
		margin: 0 auto;		
	}
	
	
	.container{
		width:100%;
	}
	
	li {
		width: 100% !important;
		height: 20% !important;
		margin: 2px 0px !important;
	}
	
	.menu .title {
		position: absolute;
		height: 100%;
		width: 100%;
		text-align: center;
		font: italic bold 2em/120px 'trebuchet MS', Arial, helvetica;
	}
	

	
	.container {
		height: auto;
		text-align: center;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		display: table;
		/*padding: 0 0 8em 0;*/
		color: white
	}
	
}